<h1>イベント一覧</h1>

<td><%= link_to '新規作成', new_event_path %></td>

<table>

  <tbody>
    <% @event.each do |event| %>
    <tr>
    <td><%= event.event_name %></td>
    <td><%= post.user.name %></td>
    <td><%= image_tag post.image if post.image.attached? %></td>
    <td><%= link_to '削除', post, method: :delete, data: { confirm: 'You sure?' }, class: "btn btn-danger" %></td>
    </tr>
    <% end %>



  </tbody>
</table>