<h1>新規作成</h1>

<%= link_to '一覧へ', post_index_url %>

<%= form_with model: @post do |f| %>
<div class="field">
  <%= f.label :投稿内容 %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :詳細 %><br>
  <%= f.text_field :body %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>