<h1>新規作成</h1>

<%= link_to '一覧へ', posts_path %>
<%= form_with model: @post do |f| %>
<div class="field">
  <%= f.label :詳細 %><br>
  <%= f.text_field :context %>
   <%= f.label :画像 %><br />
   <%= f.file_field :image, class: "image" %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>